body{
	background: grey;
	margin-right: 100px;
	margin-left: 100px;
}

h1 {
	color: red;
	font-family: fantasy;
}

header{
	margin-top: 70px;
}

.img_padrao{
	margin-bottom: 5px;
	width: 300px;
}
.logo{
	width: 30px;
	
}
footer{
	margin-bottom: 10px;
}
